*{
    box-sizing: border-box; 
}

.day{
    max-width: 960px;
    transform: translateY(50%);
    margin: 0 auto;
}


.title{
    margin-bottom: 10px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .returnButton{
        background: transparent;
        border: 1px solid #ffdd00;
        padding: 5px 10px;
        border-radius: 3px;
        cursor: pointer;
    }
    .addButton{
        background: transparent;
        border: 1px solid #ffdd00;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        font-family: Tahoma, Geneva, sans-serif;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
    }
}

.footer{
    margin-bottom: 10px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    button{
        padding: 5px 20px;
        min-width: 90px;
        border: 1px solid transparent;
        border-radius: 3px;
        background: #555;
        color: #ffdd00;
        cursor: pointer;
        &:hover{
            background: #000;
        }
    }
}

.events{
    padding: 7px;
    border-bottom: 1px solid #ccc;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 16px;
    display: flex;
}

.eventsWrapper{
    max-height: 280px;
    min-height: 200px;
    overflow: auto;
    margin-bottom: 10px;
}

.eventName{
    text-decoration: none;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 16px;
    color: #000;
    margin-left: 15px;
    font-weight: bold;
}

.eventsTitle{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 16px;
    color:red;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}