*{
    box-sizing: border-box;
}

.year{
    max-width: 320px;
    margin: 50% auto;
    margin-bottom: 30px;
    transform: translateY(-50%);
}

.monthWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    .month{
        width: 100px;
        margin-right: 5px;
        padding: 10px;
        background: #eee;
        margin-bottom: 10px;
        border-radius: 3px;
        text-decoration: none;
        color: #000;
        cursor: pointer;
        &:hover{
            background: #ffdd00;
        }
    }
}

.title{
    margin-bottom: 10px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    align-items: center;
    button{
        padding: 5px 20px;
        border: 1px solid transparent;
        border-radius: 3px;
        background: #555;
        color: #ffdd00;
        cursor: pointer;
        &:hover{
            background: #000;
        }
    }
}