*{
    box-sizing: border-box; 
}

.month{
    max-width: 320px;
    margin: 50% auto;
    transform: translateY(-50%);
    margin-bottom: 30px;
}

.weekDayItem{
    background: #eee;
    min-width: 40px;
    padding: 10px 0;
    border-radius: 3px;
    margin-bottom: 3px;
}
.monthBody{
    min-height: 290px;
}
.day{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 16px;
    .normal, .disabled{
        margin-right: 5px;
        margin-bottom: 3px;
        border: 1px solid #ccc;
        min-width: 40px;
        border-radius: 3px;
        padding: 10px 0;
        text-decoration: none;
        color: #000;
        cursor: pointer;
        &:hover{
            background: #ffdd00;
            border: 1px solid #000;
        }
        &:nth-child(7n){
            margin-right: 0;
        }
    }
    .disabled{
        opacity: 0.2;
        text-decoration: none;
        color: #000;
    }  
}

.title{
    margin-bottom: 10px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
      .returnButton{
        background: transparent;
        border: 1px solid #ffdd00;
        padding: 5px 10px;
        border-radius: 3px;
        cursor: pointer;
    }
    .addButton{
        background: transparent;
        border: 1px solid #ffdd00;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        font-family: Tahoma, Geneva, sans-serif;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
    }
}
.footer{
    margin-bottom: 10px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    button{
        padding: 5px 20px;
        min-width: 90px;
        border: 1px solid transparent;
        border-radius: 3px;
        background: #555;
        color: #ffdd00;
        cursor: pointer;
        &:hover{
            background: #000;
        }
    }
}